* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="机子_files/u0_original.png");
}

* html .u5_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u5_original.png");
}

* html .u7_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u7_original.png");
}

* html .u10_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u10_original.png");
}

* html .u12_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u12_original.png");
}

* html .u14_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u14_original.png");
}

* html .u16_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u16_original.png");
}

* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u18_original.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u20_original.png");
}

* html .u22_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u22_original.png");
}

* html .u24_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u24_original.png");
}

* html .u27_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u27_original.png");
}

* html .u29_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u27_original.png");
}

* html .u31_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u27_original.png");
}

* html .u33_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u27_original.png");
}

* html .u38_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u27_original.png");
}

* html .u53_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u53_original.png");
}

* html .u55_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u55_original.png");
}

* html .u57_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u53_original.png");
}

* html .u59_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u53_original.png");
}

* html .u61_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u53_original.png");
}

* html .u64_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u27_original.png");
}

* html .u66_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u53_original.png");
}

* html .u68_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u68_original.png");
}

* html .u70_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u55_original.png");
}

* html .u72_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u55_original.png");
}

* html .u74_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u55_original.png");
}

* html .u77_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u77_original.png");
}

* html .u79_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u79_original.png");
}

* html .u91_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u5_original.png");
}

* html .u93_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u7_original.png");
}

* html .u96_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u10_original.png");
}

* html .u98_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u12_original.png");
}

* html .u100_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u14_original.png");
}

* html .u102_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u16_original.png");
}

* html .u104_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u18_original.png");
}

* html .u106_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u20_original.png");
}

* html .u108_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u22_original.png");
}

* html .u110_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u24_original.png");
}

* html .u113_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u113_original.png");
}

* html .u124_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u124_original.png");
}

* html .u126_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u124_original.png");
}

* html .u128_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u124_original.png");
}

* html .u130_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u68_original.png");
}

* html .u133_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u133_original.png");
}

* html .u135_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u135_original.png");
}

* html .u137_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u124_original.png");
}

* html .u140_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u124_original.png");
}

* html .u143_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u133_original.png");
}

* html .u145_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u135_original.png");
}

* html .u147_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u124_original.png");
}

* html .u150_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u124_original.png");
}

* html .u152_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u77_original.png");
}

* html .u154_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u79_original.png");
}

* html .u158_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u158_original.png");
}

* html .u160_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u133_original.png");
}

* html .u162_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u135_original.png");
}

* html .u164_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员界面_1_files/u124_original.png");
}

