body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../机子_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:-50px;
    top:-20px;
    width:851px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:851px;
    height:480px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:847px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:-50px;
    top:-20px;
    width:851px;
    height:480px
}

.u3_container {
    position:absolute;
    left:135px;
    top:50px;
    width:480px;
    height:320px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:320px;
}

.u4 {
    position:absolute;
    left:2px;
    top:152px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:135px;
    top:50px;
    width:480px;
    height:320px
}

.u5_original {
    background-image: url('../企业会议室邮箱设置_1_files/u5_original.png');
}

.u5_container {
    position:absolute;
    left:135px;
    top:100px;
    width:480px;
    height:110px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:110px;
}

.u6 {
    position:absolute;
    left:2px;
    top:47px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:135px;
    top:100px;
    width:480px;
    height:110px
}

.u7_original {
    background-image: url('../企业会议室邮箱设置_1_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:149px;
    top:188px;
    width:450px;
    height:166px;
}

#u7_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:172px;
}

.u8 {
    position:absolute;
    left:2px;
    top:75px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:149px;
    top:188px;
    width:450px;
    height:166px
}

.u9_original {
    background-image: url('../企业会议室邮箱设置_1_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:145px;
    top:55px;
    width:40px;
    height:40px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u10 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:145px;
    top:55px;
    width:40px;
    height:40px
}

.u11 {
    position:absolute;
    left:194px;
    top:66px;
    width:170px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12_original {
    background-image: url('../企业会议室邮箱设置_1_files/u12_original.png');
}

.u12_container {
    position:absolute;
    left:281px;
    top:195px;
    width:200px;
    height:110px;
}

#u12_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:110px;
}

.u13 {
    position:absolute;
    left:2px;
    top:47px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u12 {
    position:absolute;
    left:281px;
    top:195px;
    width:200px;
    height:110px
}

.u14_original {
    background-image: url('../企业会议室邮箱设置_1_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:255px;
    top:100px;
    width:120px;
    height:43px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:43px;
}

.u15 {
    position:absolute;
    left:2px;
    top:14px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:255px;
    top:100px;
    width:120px;
    height:43px
}

.u16_original {
    background-image: url('../企业会议室邮箱设置_1_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:375px;
    top:100px;
    width:120px;
    height:44px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:44px;
}

.u17 {
    position:absolute;
    left:2px;
    top:14px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:375px;
    top:100px;
    width:120px;
    height:44px
}

.u18_original {
    background-image: url('../企业会议室邮箱设置_1_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:495px;
    top:100px;
    width:120px;
    height:43px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:43px;
}

.u19 {
    position:absolute;
    left:2px;
    top:14px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:495px;
    top:100px;
    width:120px;
    height:43px
}

.u20 {
    position:absolute;
    left:161px;
    top:169px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_original {
    background-image: url('../企业会议室邮箱设置_1_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:555px;
    top:73px;
    width:56px;
    height:22px;
}

#u21_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:22px;
}

.u22 {
    position:absolute;
    left:2px;
    top:4px;
    width:52px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:555px;
    top:73px;
    width:56px;
    height:22px
}

.u23_original {
    background-image: url('../企业会议室邮箱设置_1_files/u23_original.png');
}

.u23_container {
    position:absolute;
    left:135px;
    top:100px;
    width:120px;
    height:44px;
}

#u23_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:44px;
}

.u24 {
    position:absolute;
    left:2px;
    top:14px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:135px;
    top:100px;
    width:120px;
    height:44px
}

.u25_original {
    background-image: url('../企业会议室邮箱设置_1_files/u25_original.png');
}

.u25_container {
    position:absolute;
    left:149px;
    top:150px;
    width:451px;
    height:39px;
}

#u25_img {
    position:absolute;
    left:0px;
    top:0px;
    width:451px;
    height:39px;
}

.u26 {
    position:absolute;
    left:2px;
    top:12px;
    width:447px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:149px;
    top:150px;
    width:451px;
    height:39px
}

.u27_original {
    background-image: url('../企业会议室邮箱设置_1_files/u27_original.png');
}

.u27_container {
    position:absolute;
    left:156px;
    top:152px;
    width:127px;
    height:37px;
}

#u27_img {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:37px;
}

.u28 {
    position:absolute;
    left:2px;
    top:10px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:156px;
    top:152px;
    width:127px;
    height:37px
}

.u29 {
    position:absolute;
    left:156px;
    top:161px;
    width:255px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30_original {
    background-image: url('../企业会议室邮箱设置_1_files/u30_original.png');
}

.u30_container {
    position:absolute;
    left:329px;
    top:291px;
    width:110px;
    height:35px;
}

#u30_img {
    position:absolute;
    left:0px;
    top:0px;
    width:110px;
    height:35px;
}

.u31 {
    position:absolute;
    left:2px;
    top:8px;
    width:106px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:329px;
    top:291px;
    width:110px;
    height:35px
}

.u32_original {
    background-image: url('../企业会议室邮箱设置_1_files/u32_original.png');
}

.u32_container {
    position:absolute;
    left:431px;
    top:73px;
    width:56px;
    height:22px;
}

#u32_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:22px;
}

.u33 {
    position:absolute;
    left:2px;
    top:4px;
    width:52px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:431px;
    top:73px;
    width:56px;
    height:22px
}

.u34_original {
    background-image: url('../企业会议室邮箱设置_1_files/u34_original.png');
}

.u34_container {
    position:absolute;
    left:493px;
    top:73px;
    width:56px;
    height:22px;
}

#u34_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:22px;
}

.u35 {
    position:absolute;
    left:2px;
    top:4px;
    width:52px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u34 {
    position:absolute;
    left:493px;
    top:73px;
    width:56px;
    height:22px
}

.u36 {
    position:absolute;
    left:224px;
    top:218px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:255px;
    top:253px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:304px;
    top:215px;
    width:230px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

.u39 {
    position:absolute;
    left:304px;
    top:250px;
    width:230px;
    height:25px;
    ;
    ;
    text-align: left;;
    font-family:'宋体';
    font-size: 13px;
    color:#000000;
    font-style:normal;
    font-weight:normal;
    text-decoration:none;
    
}

