body {
    margin: 0px;
}

div {
    background-repeat: no-repeat;
}

.raw_image {
    width: 100%;
    height: 100%;
}

.preload {
    display: none;
}
div.main_container {
}

.form_sketch {
    border-color: transparent;
    background-color: transparent;
}

.u0_original {
    background-image: url('../机子_files/u0_original.png');
}

.u0_container {
    position:absolute;
    left:-50px;
    top:-20px;
    width:851px;
    height:480px;
}

#u0_img {
    position:absolute;
    left:0px;
    top:0px;
    width:851px;
    height:480px;
}

.u1 {
    position:absolute;
    left:2px;
    top:232px;
    width:847px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u0 {
    position:absolute;
    left:-50px;
    top:-20px;
    width:851px;
    height:480px
}

.u3_original {
    background-image: url('../公共会议室2_1_files/u3_original.png');
}

.u3_container {
    position:absolute;
    left:287px;
    top:148px;
    width:219px;
    height:42px;
}

#u3_img {
    position:absolute;
    left:0px;
    top:0px;
    width:219px;
    height:42px;
}

.u4 {
    position:absolute;
    left:2px;
    top:13px;
    width:215px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u3 {
    position:absolute;
    left:287px;
    top:148px;
    width:219px;
    height:42px
}

.u5_container {
    position:absolute;
    left:135px;
    top:50px;
    width:480px;
    height:320px;
}

#u5_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:320px;
}

.u6 {
    position:absolute;
    left:2px;
    top:152px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u5 {
    position:absolute;
    left:135px;
    top:50px;
    width:480px;
    height:320px
}

.u7_original {
    background-image: url('../公共会议室2_1_files/u7_original.png');
}

.u7_container {
    position:absolute;
    left:135px;
    top:100px;
    width:480px;
    height:110px;
}

#u7_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:110px;
}

.u8 {
    position:absolute;
    left:2px;
    top:47px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u7 {
    position:absolute;
    left:135px;
    top:100px;
    width:480px;
    height:110px
}

.u9_original {
    background-image: url('../公共会议室2_1_files/u9_original.png');
}

.u9_container {
    position:absolute;
    left:135px;
    top:100px;
    width:480px;
    height:43px;
}

#u9_img {
    position:absolute;
    left:0px;
    top:0px;
    width:480px;
    height:43px;
}

.u10 {
    position:absolute;
    left:2px;
    top:14px;
    width:476px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u9 {
    position:absolute;
    left:135px;
    top:100px;
    width:480px;
    height:43px
}

.u11_original {
    background-image: url('../公共会议室2_1_files/u11_original.png');
}

.u11_container {
    position:absolute;
    left:145px;
    top:55px;
    width:40px;
    height:40px;
}

#u11_img {
    position:absolute;
    left:0px;
    top:0px;
    width:40px;
    height:40px;
}

.u12 {
    position:absolute;
    left:2px;
    top:12px;
    width:36px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u11 {
    position:absolute;
    left:145px;
    top:55px;
    width:40px;
    height:40px
}

.u13 {
    position:absolute;
    left:194px;
    top:66px;
    width:170px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14_original {
    background-image: url('../公共会议室2_1_files/u14_original.png');
}

.u14_container {
    position:absolute;
    left:281px;
    top:221px;
    width:200px;
    height:110px;
}

#u14_img {
    position:absolute;
    left:0px;
    top:0px;
    width:200px;
    height:110px;
}

.u15 {
    position:absolute;
    left:2px;
    top:47px;
    width:196px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u14 {
    position:absolute;
    left:281px;
    top:221px;
    width:200px;
    height:110px
}

.u16_original {
    background-image: url('../公共会议室2_1_files/u16_original.png');
}

.u16_container {
    position:absolute;
    left:150px;
    top:151px;
    width:451px;
    height:39px;
}

#u16_img {
    position:absolute;
    left:0px;
    top:0px;
    width:451px;
    height:39px;
}

.u17 {
    position:absolute;
    left:2px;
    top:12px;
    width:447px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u16 {
    position:absolute;
    left:150px;
    top:151px;
    width:451px;
    height:39px
}

.u18_original {
    background-image: url('../公共会议室2_1_files/u18_original.png');
}

.u18_container {
    position:absolute;
    left:150px;
    top:153px;
    width:127px;
    height:37px;
}

#u18_img {
    position:absolute;
    left:0px;
    top:0px;
    width:127px;
    height:37px;
}

.u19 {
    position:absolute;
    left:2px;
    top:10px;
    width:123px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u18 {
    position:absolute;
    left:150px;
    top:153px;
    width:127px;
    height:37px
}

.u20 {
    position:absolute;
    left:161px;
    top:163px;
    width:150px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21_original {
    background-image: url('../公共会议室2_1_files/u21_original.png');
}

.u21_container {
    position:absolute;
    left:150px;
    top:189px;
    width:450px;
    height:30px;
}

#u21_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:36px;
}

.u22 {
    position:absolute;
    left:2px;
    top:7px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u21 {
    position:absolute;
    left:150px;
    top:189px;
    width:450px;
    height:30px
}

.u23_original {
    background-image: url('../公共会议室2_1_files/u21_original.png');
}

.u23_container {
    position:absolute;
    left:150px;
    top:219px;
    width:450px;
    height:30px;
}

#u23_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:36px;
}

.u24 {
    position:absolute;
    left:2px;
    top:7px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u23 {
    position:absolute;
    left:150px;
    top:219px;
    width:450px;
    height:30px
}

.u25_original {
    background-image: url('../公共会议室2_1_files/u21_original.png');
}

.u25_container {
    position:absolute;
    left:150px;
    top:249px;
    width:450px;
    height:30px;
}

#u25_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:36px;
}

.u26 {
    position:absolute;
    left:2px;
    top:7px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u25 {
    position:absolute;
    left:150px;
    top:249px;
    width:450px;
    height:30px
}

.u27_original {
    background-image: url('../公共会议室2_1_files/u21_original.png');
}

.u27_container {
    position:absolute;
    left:150px;
    top:279px;
    width:450px;
    height:30px;
}

#u27_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:36px;
}

.u28 {
    position:absolute;
    left:2px;
    top:7px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u27 {
    position:absolute;
    left:150px;
    top:279px;
    width:450px;
    height:30px
}

.u29 {
    position:absolute;
    left:160px;
    top:195px;
    width:50px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u30 {
    position:absolute;
    left:246px;
    top:197px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u31 {
    position:absolute;
    left:375px;
    top:197px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32_original {
    background-image: url('../公共会议室2_1_files/u21_original.png');
}

.u32_container {
    position:absolute;
    left:150px;
    top:309px;
    width:450px;
    height:30px;
}

#u32_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:36px;
}

.u33 {
    position:absolute;
    left:2px;
    top:7px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u32 {
    position:absolute;
    left:150px;
    top:309px;
    width:450px;
    height:30px
}

.u34 {
    position:absolute;
    left:511px;
    top:195px;
    width:70px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u35 {
    position:absolute;
    left:170px;
    top:227px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u36 {
    position:absolute;
    left:170px;
    top:256px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u37 {
    position:absolute;
    left:170px;
    top:287px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u38 {
    position:absolute;
    left:170px;
    top:316px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u39 {
    position:absolute;
    left:251px;
    top:225px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u40 {
    position:absolute;
    left:234px;
    top:257px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u41 {
    position:absolute;
    left:259px;
    top:287px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u42 {
    position:absolute;
    left:240px;
    top:317px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u43 {
    position:absolute;
    left:346px;
    top:226px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u44 {
    position:absolute;
    left:346px;
    top:256px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u45 {
    position:absolute;
    left:346px;
    top:286px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u46 {
    position:absolute;
    left:346px;
    top:316px;
    width:150px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47_original {
    background-image: url('../公共会议室2_1_files/u47_original.png');
}

.u47_container {
    position:absolute;
    left:504px;
    top:223px;
    width:56px;
    height:22px;
}

#u47_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:22px;
}

.u48 {
    position:absolute;
    left:2px;
    top:4px;
    width:52px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u47 {
    position:absolute;
    left:504px;
    top:223px;
    width:56px;
    height:22px
}

.u49_original {
    background-image: url('../公共会议室2_1_files/u47_original.png');
}

.u49_container {
    position:absolute;
    left:504px;
    top:254px;
    width:56px;
    height:22px;
}

#u49_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:22px;
}

.u50 {
    position:absolute;
    left:2px;
    top:4px;
    width:52px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u49 {
    position:absolute;
    left:504px;
    top:254px;
    width:56px;
    height:22px
}

.u51_original {
    background-image: url('../公共会议室2_1_files/u47_original.png');
}

.u51_container {
    position:absolute;
    left:504px;
    top:313px;
    width:56px;
    height:22px;
}

#u51_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:22px;
}

.u52 {
    position:absolute;
    left:2px;
    top:4px;
    width:52px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u51 {
    position:absolute;
    left:504px;
    top:313px;
    width:56px;
    height:22px
}

.u53_original {
    background-image: url('../公共会议室2_1_files/u47_original.png');
}

.u53_container {
    position:absolute;
    left:504px;
    top:283px;
    width:56px;
    height:22px;
}

#u53_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:22px;
}

.u54 {
    position:absolute;
    left:2px;
    top:4px;
    width:52px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u53 {
    position:absolute;
    left:504px;
    top:283px;
    width:56px;
    height:22px
}

.u55_original {
    background-image: url('../公共会议室2_1_files/u21_original.png');
}

.u55_container {
    position:absolute;
    left:150px;
    top:339px;
    width:450px;
    height:30px;
}

#u55_img {
    position:absolute;
    left:-3px;
    top:-3px;
    width:456px;
    height:36px;
}

.u56 {
    position:absolute;
    left:2px;
    top:7px;
    width:446px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u55 {
    position:absolute;
    left:150px;
    top:339px;
    width:450px;
    height:30px
}

.u57_original {
    background-image: url('../公共会议室2_1_files/u57_original.png');
}

.u57_container {
    position:absolute;
    left:555px;
    top:74px;
    width:56px;
    height:22px;
}

#u57_img {
    position:absolute;
    left:0px;
    top:0px;
    width:56px;
    height:22px;
}

.u58 {
    position:absolute;
    left:2px;
    top:4px;
    width:52px;
    height:15px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u57 {
    position:absolute;
    left:555px;
    top:74px;
    width:56px;
    height:22px
}

.u59_original {
    background-image: url('../公共会议室2_1_files/u59_original.png');
}

.u59_container {
    position:absolute;
    left:135px;
    top:100px;
    width:120px;
    height:43px;
}

#u59_img {
    position:absolute;
    left:0px;
    top:0px;
    width:120px;
    height:43px;
}

.u60 {
    position:absolute;
    left:2px;
    top:14px;
    width:116px;
    height:16px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u59 {
    position:absolute;
    left:135px;
    top:100px;
    width:120px;
    height:43px
}

.u61 {
    position:absolute;
    left:240px;
    top:410px;
    width:270px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u62 {
    position:absolute;
    left:340px;
    top:479px;
    width:210px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u63 {
    position:absolute;
    left:190px;
    top:478px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u64 {
    position:absolute;
    left:340px;
    top:451px;
    width:210px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u65 {
    position:absolute;
    left:190px;
    top:450px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u66 {
    position:absolute;
    left:192px;
    top:509px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u67 {
    position:absolute;
    left:192px;
    top:539px;
    width:150px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

.u68 {
    position:absolute;
    left:342px;
    top:512px;
    width:198px;
    height:18px;
    ;
    ;
    ;
    font-family:Arial;
    text-align:left;
    word-wrap:break-word;
}

