* html .u0_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="机子_files/u0_original.png");
}

* html .u5_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u5_original.png");
}

* html .u7_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u7_original.png");
}

* html .u10_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u10_original.png");
}

* html .u12_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u12_original.png");
}

* html .u14_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u14_original.png");
}

* html .u16_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u16_original.png");
}

* html .u18_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u18_original.png");
}

* html .u20_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u20_original.png");
}

* html .u23_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u23_original.png");
}

* html .u25_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u23_original.png");
}

* html .u27_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u23_original.png");
}

* html .u29_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u29_original.png");
}

* html .u32_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u32_original.png");
}

* html .u35_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u35_original.png");
}

* html .u37_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u37_original.png");
}

* html .u39_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u39_original.png");
}

* html .u43_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u43_original.png");
}

* html .u51_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u5_original.png");
}

* html .u54_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u54_original.png");
}

* html .u56_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u23_original.png");
}

* html .u58_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u23_original.png");
}

* html .u60_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u23_original.png");
}

* html .u62_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u29_original.png");
}

* html .u68_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u43_original.png");
}

* html .u74_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u74_original.png");
}

* html .u76_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u76_original.png");
}

* html .u79_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u74_original.png");
}

* html .u89_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u23_original.png");
}

* html .u92_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u23_original.png");
}

* html .u95_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u95_original.png");
}

* html .u97_original {
    background-image: none;
    filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src="管理员帐户_1_files/u95_original.png");
}

